.header {
  padding: 55px;
  text-align: center;
  background: #088F8F;
  color: white;
  font-size: 30px;
}

.subHeader {
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-size: 24px;
}

.font {
  font-size: 14pt;
  padding: 5px;
}

.col{
  text-align: center;
}

.align-items-center {
  align-items: unset !important;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column_2 {
  float: left;
  width: 10%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding: 10px;
    height: unset;

  }
}

@media only screen and (max-width: 600px) {
  .row:after {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 600px) {
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
._br_-q{
  border-bottom: none !important;
  align-items: center;
}

.card {
  border: unset !important;
  background-color: unset !important;
}

.card--body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0 10px;
  background-color: unset !important;

}

body {
  background-image: linear-gradient(#b2cdd8, #8fa765);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.shadow {
  box-shadow: 0 .10rem 1rem rgba(0,0,0,.15) !important;
}

@media only screen and (max-width: 600px) {
  .subheading {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* text-align: center; */
    /* width: 100%; */
    margin: 10px;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .subheading {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}